@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome to the new service for donating things!</h1>
    <h2 class="display-4">
        Here each of the users can place a lot with a thing that he wants to give to another.
        Also, any user can take a thing from another to find its new use.
    </h2>
    @*<button class="btn-light" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <img src="~/main.png" height="50" />Main Page
    </button>
    <p></p>*@
</div>
