@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form>
        <p>
            <input type="search" name="q" placeholder="Find on the website" style="        height: 60px;
        width: 85%;
        color: #B6C0A5;
        font-style: italic;
        background: #ffffff;">
            <input type="submit" value="Find" style="        width: 150px;
        color: #B6C0A5;
        font-style: italic;
        font-size:18px;
        height: 60px;
        background: #a0d9ec;">
        </p>
    </form>
    <div class="masonry-layout" style="column-count: 5; column-gap: 0;">
        <div class="masonry-layout__panel" style="break-inside: avoid; padding: 5px;">
            <div class="masonry-layout__panel-content" style="padding: 10px; border-radius: 10px;">
                <a href="~/Home/Privacy2?category=meclot">
                    <img src="~/logos2/mcloses.png" height="100" />
                </a>
            </div>
        </div>
        <div class="masonry-layout__panel" style="break-inside: avoid; padding: 5px;">
            <div class="masonry-layout__panel-content" style="padding: 10px; border-radius: 10px;">
                <a href="~/Home/Privacy2?category=womenscl">
                    <img src="~/logos2/wcloses.png" height="100" />
                </a>
            </div>
        </div>
        <div class="masonry-layout__panel" style="break-inside: avoid; padding: 5px;">
            <div class="masonry-layout__panel-content" style="padding: 10px; border-radius: 10px;">
                <a href="~/Home/Privacy2?category=tech2">
                    <img src="~/logos2/child.png" height="100" />
                </a>
            </div>
        </div>
        <div class="masonry-layout__panel" style="break-inside: avoid; padding: 5px;">
            <div class="masonry-layout__panel-content" style="padding: 10px; border-radius: 10px;">
                <a href="~/Home/Privacy2?category=tech2">
                    <img src="~/logos2/mshoes.png" height="100" />
                </a>
            </div>
        </div>
        <div class="masonry-layout__panel" style="break-inside: avoid; padding: 5px;">
            <div class="masonry-layout__panel-content" style="padding: 10px; border-radius: 10px;">
                <a href="~/Home/Privacy2?category=womenscl2">
                    <img src="~/logos2/wshoes.png" height="100" />
                </a>
            </div>
        </div>
        <div class="masonry-layout__panel" style="break-inside: avoid; padding: 5px;">
            <div class="masonry-layout__panel-content" style="padding: 10px; border-radius: 10px;">
                <a href="~/Home/Privacy2?category=tech2">
                    <img src="~/logos2/renovation.png" height="100" />
                </a>
            </div>
        </div>
        <div class="masonry-layout__panel" style="break-inside: avoid; padding: 5px;">
            <div class="masonry-layout__panel-content" style="padding: 10px; border-radius: 10px;">
                <a href="~/Home/Privacy2?category=tech">
                    <img src="~/logos2/tech.png" height="100" />
                </a>
            </div>
        </div>
        <div class="masonry-layout__panel" style="break-inside: avoid; padding: 5px;">
            <div class="masonry-layout__panel-content" style="padding: 10px; border-radius: 10px;">
                <a href="~/Home/Privacy2?category=furniture">
                    <img src="~/logos2/furniture.png" height="100" />
                </a>
            </div>
        </div>
        <div class="masonry-layout__panel" style="break-inside: avoid; padding: 5px;">
            <div class="masonry-layout__panel-content" style="padding: 10px; border-radius: 10px;">
                <a href="~/Home/Privacy2?category=garden">
                    <img src="~/logos2/garden.png" height="100" />
                </a>
            </div>
        </div>
        <div class="masonry-layout__panel" style="break-inside: avoid; padding: 5px;">
            <div class="masonry-layout__panel-content" style="padding: 10px; border-radius: 10px;">
                <a href="~/Home/Privacy2?category=tech2">
                    <img src="~/logos2/car.png" height="100" />
                </a>
            </div>
        </div>
        <div class="masonry-layout__panel" style="break-inside: avoid; padding: 5px;">
            <div class="masonry-layout__panel-content" style="padding: 10px; border-radius: 10px;">
                <a href="~/Home/Privacy2?category=tech2">
                    <img src="~/logos2/relax.png" height="100" />
                </a>
            </div>
        </div>
        <div class="masonry-layout__panel" style="break-inside: avoid; padding: 5px;">
            <div class="masonry-layout__panel-content" style="padding: 10px; border-radius: 10px;">
                <a href="~/Home/Privacy2?category=tech2">
                    <img src="~/logos2/hobbies.png" height="100" />
                </a>
            </div>
        </div>

        <div class="masonry-layout__panel" style="break-inside: avoid; padding: 5px;">
            <div class="masonry-layout__panel-content" style="padding: 10px; border-radius: 10px;">
                <a href="~/Home/Privacy2?category=equipment">
                    <img src="~/logos2/equip.png" height="100" />
                </a>
            </div>
        </div>





        <div class="masonry-layout__panel" style="break-inside: avoid; padding: 5px;">
            <div class="masonry-layout__panel-content" style="padding: 10px; border-radius: 10px;">
                <a href="~/Home/Privacy2?category=tech2">
                    <img src="~/logos2/books.png" height="100" />
                </a>
            </div>
        </div>




        <div class="masonry-layout__panel" style="break-inside: avoid; padding: 5px;">
            <div class="masonry-layout__panel-content" style="padding: 10px; border-radius: 10px;">
                <a href="~/Home/Privacy2?category=sport">
                    <img src="~/logos2/sport.png" height="100" />
                </a>
            </div>
        </div>

    </div>
    @*<h2 class="display-4">
            Here each of the users can place a lot with a thing that he wants to give to another.
            Also, any user can take a thing from another to find its new use.
        </h2>*@
    @*<button class="btn-light" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <img src="~/main.png" height="50" />Main Page
        </button>
        <p></p>*@
</div>
